<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shift PDF</title>
    <style>
      body {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 12px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      th, td {
        border: 1px solid #000;
        padding: 4px 10px;             /* セルの高さを確保 */
        text-align: center;
        line-height: 1.4;
        height: auto;
        min-height: 40px;
        vertical-align: middle;
      }

      td.staff-name {
        white-space: nowrap;
        overflow: hidden;
        max-width: 120px;
      }

      td.break-room {
        white-space: nowrap;
        overflow: hidden;
        max-width: 120px;
      }

      th {
        background: #555;          /* ヘッダーを濃いグレーに */
        color: #fff;
        font-weight: bold;
      }

      /* 時間軸専用のスタイル */
      th.time-col {
        background-color: #444 !important;
        color: white !important;
        font-weight: bold;
      }

      /* グループ行 */
      .group-row td {
        font-weight: bold;
        background: #eee;          /* グループ名は淡いグレー */
        text-align: left;
      }

      /* 休憩中セル */
      .rest-cell {
        background-color: #bbb;    /* 中間グレーに設定 */
      }

      /* 2ページ目以降にtheadが繰り返されるのを防止 */
      thead {
        display: table-row-group;
      }

      @page {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      @font-face {
        font-family: 'NotoSansJP';
        src: url('file:///app/app/assets/fonts/NotoSansJP-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'NotoSansJP';
        src: url('file:///app/app/assets/fonts/NotoSansJP-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
      }

      /* すべての文字をこのフォントに統一 */
      body {
        font-family: 'NotoSansJP', sans-serif;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>